body {
    
    font-family: 'GT Super Text';
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    letter-spacing: 0.04rem;
    color: $color-black;

    background-color: #F4EDE5;

}

